name: Publish to NuGet

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore SmartLogger/SmartLogger.csproj

      - name: Build
        run: dotnet build SmartLogger/SmartLogger.csproj --configuration Release --no-restore

      - name: Pack
        run: dotnet pack SmartLogger/SmartLogger.csproj --configuration Release --no-build

      - name: Publish
        run: dotnet nuget push SmartLogger/bin/Release/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json